<link href="css/security_terminal.css" rel="stylesheet">
<h3>Security System</h3>

<p>Select Command<span class="blink">:</span></p>

<div class="sys_command">
  <p>[crew_status] <<</p>
  <br>
  <p><a ui-sref='security'>[security_terminal]</a></p>
</div>

<div class="sys_command">
  <p>
      >>Captain Redbeard [DECEASED]
  </p>
  <p>
    >>1st Mate Smitty McGoo [DECEASED]
  </p>
  <p>
    >>2nd Mate Tyler [DECEASED]
  </p>
  <p>
    >>Swab Shaw [DECEASED]
  </p>
  <p>
    >>Swab Cunningham [DECEASED]
  </p>
  <p>
      >>Swab PLAYER {{ player.name }} //fake variable right now
  </p><br>
  <p>
    <span class="blink">ADDITIONAL LIFE SIGNALS DETECTED</span> - LIFEFORM SCAN RECOMMENDED.
  </p>
</div>
