<link href="css/engine_terminal.css" rel="stylesheet">
<h3>Engine Control</h3>

<p>Select Engine Command<span class="blink">:</span></p>

<div class="sys_command">
  <p><a ui-sref='engage_engines_false'>[engage_main_propulsion]</a></p>
  <p><a ui-sref='engine_status_failure'>[report_engine_status]</a></p>
  <p><a ui-sref='reboot_prop_{{ power }}' ng-click="reboot_eng_comp()">[reboot_propulsion_computer]</a></p>
  <p><a ui-sref='raise_sails_{{ eng_comp_status }}' ng-click="raise_sails()">[raise_solar_sails]</a></p>
  <p><a ui-sref='nav_{{ sail }}'>[set_navigation]</a></p>
  <br>
  <p><a ui-sref='start'>[select_terminal]</a></p>

</div>

<p>
    ENGINES ENGAGED: <span class="blink"><strong>WARNING!</strong></span> NO PROPLUSION - FUEL IS EMPTY.
</p>
<p>
    Solar Sails Recommended.
</p>
