<link href="css/engine_terminal.css" rel="stylesheet">
<h3>Engine Control</h3>

<p>Select Engine Command<span class="blink">:</span></p>

<div class="sys_command">
  <p><a ui-sref='engage_engines_false'>[engage_main_propulsion]</a></p>
  <p><a ui-sref='engine_status_failure'>[report_engine_status]</a></p>
  <p><a ui-sref='reboot_prop_{{ power }}' ng-click="reboot_eng_comp()">[reboot_propulsion_computer]</a></p>
  <p><a ui-sref='raise_sails_{{ eng_comp_status }}' ng-click="raise_sails()">[raise_solar_sails]</a></p>
  <p><a ui-sref='nav_{{ sail }}'>[set_navigation]</a></p>
  <br>
  <p><a ui-sref='start'>[select_terminal]</a></p>

</div>

<div class="sys_command">
    <p>
        MAIN_PROPULSION: FUEL LEVEL: 0%
    </p>
    <p>
        SOLAR_SAILS: {{ sail }}
    </p>
    <p>
        NAVIGATION: INOPERATIVE
    </p>
</div>
